html {
  height: 100%;
}
html body {
  height: 100%;
  margin: 0;
}
html body .sec {
  padding: 10px 50px;
  height: 100%;
  max-height: 1200px;
}
html body .sec1 {
  background: url("../img/first/background.png") no-repeat;
  background-position: 100%;
  background-size: 57% 100%;
}
html body .sec1 .banner {
  height: 35px;
  position: relative;
}
html body .sec1 .banner .inlined {
  display: inline-block;
}
html body .sec1 .banner img {
  height: 35px;
  line-height: 35px;
  margin-left: 10px;
}
html body .sec1 .banner .info {
  line-height: 35px;
  float: right;
}
html body .sec1 .banner .info a {
  color: white;
  margin-left: 10px;
}
html body .sec1 .banner .info button {
  width: 70px;
  height: 35px;
  border-radius: 5px;
}
html body .sec1 .banner .info .register {
  margin-left: 100px;
  background-color: #658ddb;
  border: none;
  color: white;
}
html body .sec1 .banner .info .login {
  margin-left: 10px;
  margin-right: 50px;
  color: #425bdb;
}
html body .sec1 .container {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 7% 18%;
}
html body .sec1 .container .text1 {
  flex: 5;
  padding-top: 6%;
}
html body .sec1 .container .text1 .divider {
  height: 8px;
  width: 100px;
  background-color: #66f5e0;
  border-radius: 5px;
  margin-bottom: 10px;
}
html body .sec1 .container .text1 h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
html body .sec1 .container .text1 .description {
  font-size: 10px;
  color: #858c97;
  margin-bottom: 10px;
}
html body .sec1 .container .text1 .join {
  width: 120px;
  height: 44px;
  background-image: linear-gradient(149deg, #9af9de 0%, #70a6fe 100%);
  box-shadow: 0px 8px 20px 0px rgba(67, 175, 255, 0.29);
  border-radius: 35px;
  color: white;
  font-size: 13px;
}
html body .sec1 .container .paint1 {
  flex: 8;
  margin-left: 6%;
}
html body .sec1 .container .paint1 img {
  width: 100%;
}
html body .sec2 .side-left {
  margin-bottom: -8%;
}
html body .sec2 .pros {
  padding: 0 21%;
}
html body .sec2 .pros .blocks {
  display: flex;
  margin-bottom: 100px;
}
html body .sec2 .pros .blocks .pro {
  flex: 1;
  margin: 0 10px;
}
html body .sec2 .pros .blocks .pro .num {
  font-size: 60px;
  background: -webkit-linear-gradient(left, #72ced9, #67b2f1);
  /* 背景色渐变 */
  -webkit-background-clip: text;
  /* 规定背景的划分区域 */
  -webkit-text-fill-color: transparent;
  /* 防止字体颜色覆盖 */
  font-weight: bold;
}
html body .sec2 .pros .blocks .pro p {
  font-size: 14px;
  color: #858c97;
}
html body .sec2 .side-right {
  float: right;
  margin-bottom: -23%;
}
html body .sec3 {
  box-sizing: border-box;
  width: 100%;
  padding: 14% 12% 0;
  clear: right;
  display: flex;
}
html body .sec3 img {
  flex: 5;
  width: 100%;
}
html body .sec3 .devops {
  padding-top: 9%;
  flex: 3;
  margin-left: 9%;
}
html body .sec3 .devops p {
  font-size: 14px;
  color: #858c97;
}
html body .sec4 {
  background: url("../img/forth/background1.png") no-repeat;
  display: flex;
  background-size: 100% 70%;
}
html body .sec4 .monitor {
  flex: 1;
  padding: 5% 5%;
}
html body .sec4 img {
  flex: 1;
  width: 80%;
}
html body .sec5 {
  display: flex;
  padding: 0 13%;
}
html body .sec5 img {
  flex: 1;
}
html body .sec5 .view {
  flex: 1;
}
