@screen-xm: 1600px;

html {
  height: 100%;
  body {
    height: 100%;
    margin: 0;
    .sec {
      box-sizing: border-box;
    }
    @media screen and (min-width: @screen-xm) {
      .sec1 {
        padding: 34px 50px;
      }
      .container {
        padding: 7% 18%;
      }
    }
    @media screen and (max-width: @screen-xm) {
      .sec1 {
        padding: 20px 50px;
      }
      .container {
        padding: 7% 11%;
      }
    }
    .sec1 {
      height: 100%;
      max-height: 1200px;
      background: url("../img/first/background.png") no-repeat;
      background-position: 100%;
      background-size: 60% 100%;
      margin-bottom: -6%;
      .banner {
        height: 35px;
        position: relative;
        .inlined {
          display: inline-block;
        }
        img {
          height: 35px;
          line-height: 35px;
          margin-left: 10px;
        }
        .info {
          line-height: 35px;
          float: right;
          a {
            color: white;
          }
          button {
            border-radius: 5px;
          }
          @media screen and (min-width: @screen-xm) {
            a {
              font-size: 14px;
              margin-left: 50px;
            }
            button {
              width: 90px;
              height: 44px;
              font-size: 14px;
            }
            .register {
              margin-left: 150px;
            }
            .login {
              margin-right: 120px;
            }
          }
          @media screen and (max-width: @screen-xm) {
            a {
              font-size: 12px;
              margin-left: 37px;
            }
            button {
              width: 63px;
              height: 30px;
              font-size: 12px;
            }
            .register {
              margin-left: 138px;
            }
            .login {
              margin-right: 50px;
            }
          }
          .register {
            background-color: rgb(101, 141, 219);
            border: none;
            color: white;
          }
          .login {
            margin-left: 10px;
            color: rgb(66, 91, 219);
          }
        }
      }
      .container {
        display: flex;
        width: 100%;
        align-items: center;
        .text1 {
          flex: 5;
          margin-bottom: 5%;
          opacity: 0;
          // animation: textIn 0.6s linear;
          .divider {
            height: 8px;
            width: 100px;
            background-color: rgb(102, 245, 224);
            border-radius: 5px;
          }

          @media screen and (min-width: @screen-xm) {
            h1 {
              font-size: 50px;
            }
            .description {
              font-size: 16px;
            }
            .breakline {
              margin-bottom: 30px;
            }
          }
          @media screen and (max-width: @screen-xm) {
            h1 {
              font-size: 31px;
            }
            .description {
              font-size: 14px;
            }
            .breakline {
              margin-bottom: 25px;
            }
          }
          .description {
            color: #858c97;
          }
        }
        .paint1 {
          flex: 8;
          margin-left: 6%;
          position: relative;
          .paint-woman {
            position: absolute;
            top: 15px;
            right: 159px;
            opacity: 0;
            // animation: womanIn 0.68s linear;
            z-index: 1;
          }
          .paint-main {
            width: 100%;
            opacity: 0;
            // animation: mainIn 0.6s linear;
          }
          .paint-man {
            width: 14%;
            position: absolute;
            opacity: 0;
            // animation: manIn 0.68s linear;
            bottom: 55px;
            left: 49px;
          }
        }
      }
    }

    .text1-anim {
      animation: textIn 0.6s linear;
    }
    .paint-woman-anim {
      animation: womanIn 0.68s linear;
    }
    .paint-main-anim {
      animation: mainIn 0.6s linear;
    }
    .paint-man-anim {
      animation: manIn 0.68s linear;
    }

    @keyframes textIn {
      from {
        transform: translate(-30px, 0);
        opacity: 0;
      }
      to {
        transform: translate(0, 0);
        opacity: 1;
      }
    }

    @keyframes mainIn {
      from {
        transform: translate(30px, 0);
        opacity: 0;
      }
      to {
        transform: translate(0, 0);
        opacity: 1;
      }
    }

    @keyframes manIn {
      from {
        bottom: 10px;
        left: 49px;
        opacity: 0;
      }
      to {
        bottom: 55px;
        left: 49px;
        opacity: 1;
      }
    }

    @keyframes womanIn {
      from {
        top: -50px;
        right: 159px;
        opacity: 0;
      }
      to {
        top: 15px;
        right: 159px;
        opacity: 1;
      }
    }

    .sec2 {
      .side-left {
        margin-bottom: -8%;
        width: 18%;
      }
      .pros {
        padding: 0 21%;
        margin-bottom: -6%;
        opacity: 0;
        .blocks {
          display: flex;
          margin-bottom: 100px;
          @media screen and (min-width: @screen-xm) {
            .pro {
              margin: 0 40px;
            }
          }
          @media scren and (max-width: @screen-xm) {
            .pro {
              margin: 0 10px;
            }
          }
          .pro {
            flex: 1;
            @media screen and (min-width: @screen-xm) {
              .num {
                font-size: 72px;
              }
              h3 {
                font-size: 20px;
              }
              p {
                font-size: 14px;
              }
            }
            @media screen and (max-width: @screen-xm) {
              .num {
                font-size: 64px;
              }
              h3 {
                font-size: 18px;
              }
              p {
                font-size: 12px;
              }
            }
            .num {
              background: -webkit-linear-gradient(left, rgb(114, 206, 217), rgb(103, 178, 241)); /* 背景色渐变 */
              -webkit-background-clip: text; /* 规定背景的划分区域 */
              -webkit-text-fill-color: transparent; /* 防止字体颜色覆盖 */
              font-weight: bold;
            }
            p {
              color: #858c97;
            }
          }
        }
      }
      .pros-anim {
        animation: prosIn 0.6s linear;
      }
      .side-right {
        float: right;
        margin-bottom: -23%;
        width: 23%;
      }
    }

    @keyframes prosIn {
      from {
        transform: translate(0, 100px);
        opacity: 0;
      }
      to {
        transform: translate(0, 0);
        opacity: 1;
      }
    }

    .sec3 {
      width: 100%;
      padding: 14% 12% 0;
      clear: right;
      display: flex;
      align-items: center;
      margin-bottom: 7%;
      .sec3-wrapper {
        opacity: 0;
        flex: 5;
        img {
          width: 100%;
        }
      }
      .devops {
        flex: 3;
        margin-left: 9%;
        opacity: 0;
        p {
          color: #858c97;
        }
        @media screen and (min-width: @screen-xm) {
          h1 {
            font-size: 48px;
          }
          h3 {
            font-size: 18px;
          }
          p {
            font-size: 14px;
          }
        }
        @media screen and (max-width: @screen-xm) {
          h1 {
            font-size: 36px;
          }
          h3 {
            font-size: 14px;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }

    .sec4 {
      background: url("../img/forth/background1.png") no-repeat;
      background-size: 100% 100%;
      // height: 742px;
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0 15%;
      margin-bottom: 12%;
      .monitor {
        flex: 4;
        opacity: 0;
      }
      .sec4-wrapper {
        flex: 7;
        position: relative;
        height: 418px;
        // margin-left: 14%;
        // img {
        //   width: 100%;
        // }
        .man {
          position: absolute;
          width: 40%;
          opacity: 0;
        }
        .woman {
          position: absolute;
          opacity: 0;
        }
        .paper {
          position: absolute;
          width: 72%;
          opacity: 0;
          bottom: -18px;
        }
      }
      @media screen and (min-width: @screen-xm) {
        h1 {
          font-size: 48px;
        }
        p {
          font-size: 14px;
        }
        h3 {
          font-size: 18px;
        }
      }

      @media screen and (max-width: @screen-xm) {
        h1 {
          font-size: 36px;
        }
        p {
          font-size: 12px;
        }
        h3 {
          font-size: 14px;
        }
      }
    }

    @media screen and (min-width: @screen-xm) {
      .sec4 {
        height: 742px;
        .sec4-wrapper {
          .man {
            right: 248px;
            top: -176px;
          }
          .woman {
            width: 71%;
            bottom: -95px;
            left: 76px;
          }
        }
      }
      @keyframes man2In {
        from {
          right: 248px;
          top: -203px;
          opacity: 0;
        }
        to {
          right: 248px;
          top: -176px;
          opacity: 1;
        }
      }

      @keyframes woman2In {
        from {
          bottom: -117px;
          left: 76px;
          opacity: 0;
        }
        to {
          bottom: -95px;
          left: 76px;
          opacity: 1;
        }
      }
    }

    @media screen and (max-width: @screen-xm) {
      .sec4 {
        height: 610px;
        .sec4-wrapper {
          .man {
            right: 182px;
            top: -78px;
          }
          .woman {
            width: 84%;
            bottom: -23px;
            left: 7px;
          }
        }
      }
      @keyframes man2In {
        from {
          right: 182px;
          top: -108px;
          opacity: 0;
        }
        to {
          right: 182px;
          top: -78px;
          opacity: 1;
        }
      }

      @keyframes woman2In {
        from {
          bottom: -53px;
          left: 7px;
          opacity: 0;
        }
        to {
          bottom: -23px;
          left: 7px;
          opacity: 1;
        }
      }
    }

    .monitor-anim {
      animation: monitorIn 0.6s linear;
    }

    .woman-anim {
      animation: woman2In 0.6s linear;
    }

    .man-anim {
      animation: man2In 0.6s linear;
    }

    .paper-anim {
      animation: paperIn 0.6s linear;
    }

    @keyframes monitorIn {
      from {
        transform: translate(-30px, 0);
        opacity: 0;
      }
      to {
        transform: translate(0, 0);
        opacity: 1;
      }
    }

    // @keyframes man2In {
    //   from {
    //     right: 248px;
    //     top: -203px;
    //     opacity: 0;
    //   }
    //   to {
    //     right: 248px;
    //     top: -176px;
    //     opacity: 1;
    //   }
    // }

    // @keyframes woman2In {
    //   from {
    //     bottom: -117px;
    //     left: 76px;
    //     opacity: 0;
    //   }
    //   to {
    //     bottom: -95px;
    //     left: 76px;
    //     opacity: 1;
    //   }
    // }

    @keyframes paperIn {
      from {
        bottom: -63px;
        opacity: 0;
      }
      to {
        bottom: -18px;
        opacity: 1;
      }
    }

    .sec5 {
      display: flex;
      align-items: center;
      margin-bottom: 7%;
      width: 100%;
      padding: 0 10%;
      background: url("../img/fifth/background.png") no-repeat;
      background-size: 56% 100%;
      .sec5-wrapper {
        opacity: 0;
        flex: 5;
        img {
          width: 100%;
        }
      }
      .view {
        opacity: 0;
        flex: 3;
        margin-left: 13%;
        p {
          color: #858c97;
        }
        @media screen and (min-width: @screen-xm) {
          h1 {
            font-size: 48px;
          }
          h3 {
            font-size: 18px;
          }
          p {
            font-size: 14px;
          }
        }

        @media screen and (max-width: @screen-xm) {
          h1 {
            font-size: 36px;
          }
          h3 {
            font-size: 14px;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }

    .sec6 {
      background: url("../img/sixth/background.png") no-repeat;
      background-position: right;
      display: flex;
      align-items: center;
      width: 100%;
      background-size: 40% 100%;
      padding: 0 15%;
      margin-bottom: 10%;
      .joinus {
        flex: 1;
        @media screen and (min-width: @screen-xm) {
          h1 {
            font-size: 48px;
          }
          p {
            font-size: 14px;
          }
        }

        @media screen and (max-width: @screen-xm) {
          h1 {
            font-size: 40px;
          }
          p {
            font-size: 12px;
          }
        }
        p {
          color: #858c97;
        }
      }
      .sec6-wrapper {
        flex: 2;
        img {
          width: 78%;
          margin-left: 15%;
        }
      }
    }

    .join {
      color: white;
      border: transparent;
    }

    .top-join {
      background-image: linear-gradient(149deg, #9af9de 0%, #70a6fe 100%);
      box-shadow: 0px 8px 20px 0px rgba(67, 175, 255, 0.29);
      border-radius: 35px;
    }

    .bottom-join {
      background-image: linear-gradient(138deg, #8cdaff 0%, #7b86f6 95%, #707afe 100%);
      box-shadow: 0px 7px 17px 0px rgba(77, 67, 255, 0.29);
      border-radius: 29px;
      margin-top: 20px;
    }

    @media screen and (min-width: @screen-xm) {
      .summary {
        margin-top: 38px;
        margin-bottom: 40px;
      }
      .join {
        width: 120px;
        height: 44px;
        font-size: 13px;
      }
      .footer {
        padding: 70px 300px 30px;
        hr {
          margin: 90px 0 30px;
        }
      }
    }

    @media screen and (max-width: @screen-xm) {
      .summary {
        margin-top: 34px;
        margin-bottom: 20px;
      }
      .join {
        width: 103px;
        height: 34px;
        font-size: 10px;
      }
      .footer {
        padding: 70px 140px 30px;
        hr {
          margin: 60px 0 30px;
        }
      }
    }

    .footer {
      background-color: #fbfcfc;
      color: #c8ccd4;
      .content {
        display: flex;
        justify-content: space-between;
        .item {
          flex: 1;
          @media screen and (min-width: @screen-xm) {
            h3 {
              font-size: 16px;
            }
            p {
              font-size: 14px;
            }
          }

          @media screen and (max-width: @screen-xm) {
            h3 {
              font-size: 14px;
            }
            p {
              font-size: 12px;
            }
          }
          h3 {
            color: #101319;
          }
        }
      }
      hr {
        border: 1px solid #eaeaea;
      }
      p {
        font-size: 12px;
      }
    }
  }
}
